.bg-container{
   background-color:bisque;
    max-width: 600px;
    padding: 20px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 10px;
   background-size: cover;
   margin-left: 30%;
}
.form_container{
   margin-top:20px;
   display:grid;
   grid-template-columns: repeat(auto-fit,ninmax(200px,1fr));
   grid:30px;
   margin-left: 5%;
}
.content_form{
   display:flex;
   flex-direction:column;
}
label{
   font-size: 15px;
   margin-bottom: 5px;
}
input,select,textarea{
   width: 500px;
   padding: 6px;
   border :1px solid #ccc;
   border-radius: 4px;
   font-size: 15px;
}
.button{
  text-align: center;
 
}